<!-- login-section start -->
<div class="login-section">
    <div class="login-area">
      <div class="login-close">
        <label>Close</label>
      </div>
      <div class="login-bg-shape bg_img" data-background="assets/images/elements/login-shape.png"></div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6">
          <div class="login-thumb"><img src="assets/images/elements/login.png" alt="image"></div>
        </div>
        <div class="col-lg-5">
          <div class="login-form-wrapper">
            <h3 class="title">sign in your account</h3>
            <form class="login-form">
              <div class="form-group">
                <input type="email" name="login_email" id="login_email" placeholder="Email or User Name">
              </div>
              <div class="form-group">
                <input type="password" name="login_pass" id="login_pass" placeholder="Password">
              </div>
              <div class="form-check-inline custom-form-check">
                <input id="remember" type="radio" name="custom-radio-btn">
                <label class="custom-radio" for="remember"></label>
                <span class="label-text">Remember me</span>
              </div>
              <div class="form-check-inline custom-form-check">
                <input id="forget" type="radio" name="custom-radio-btn">
                <label class="custom-radio" for="forget"></label>
                <span class="label-text">Forget Password?</span>
              </div>
              <div class="form-group mt-30">
                <button type="submit" class="cmn-btn">sign in now</button>
              </div>
            </form>
            <button class="create-account signup-open-btn">Don`t have on account yet? <br>Create account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- login-section end -->
  
  <!-- signup-section start -->
  <div class="signup-section">
    <div class="signup-area">
      <div class="signup-close">
        <label>Close</label>
      </div>
      <div class="signup-bg-shape bg_img" data-background="assets/images/elements/login-shape.png"></div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 order-lg-1 order-2">
          <div class="signup-form-wrapper">
            <h3 class="title">sign in your account</h3>
            <form class="signup-form">
              <div class="form-group">
                <input type="email" name="signup_email" id="signup_email" placeholder="Email or User Name">
              </div>
              <div class="form-group">
                <input type="password" name="signup_pass" id="signup_pass" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" name="signup_re-pass" id="signup_re-pass" placeholder="Re-Password">
              </div>
              <div class="form-check-inline custom-form-check">
                <input id="agree" type="radio" name="custom-radio-btn">
                <label class="custom-radio" for="agree"></label>
                <span class="label-text">I agree with all Terms & Conditions</span>
              </div>
              <div class="form-group mt-30">
                <button type="submit" class="cmn-btn">Registration</button>
              </div>
            </form>
            <button class="login-account switch-login-page-btn">Already you have  an account in here? <br>Sign in</button>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="signup-thumb"><img src="assets/images/elements/signup.png" alt="image"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- signup-section end -->