<app-nav></app-nav>

  <!-- inner-hero-section start -->
  <section class="inner-hero-section bg_img" data-background="assets/images/elements/inner-hero-bg.png">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="inner-hero-content">
            <h2 class="title">Privacy & policy</h2>
            <ol class="page-breadcrumb">
              <li><a href="index.html">home</a></li>
              <li>privacy</li>
            </ol>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="inner-hero-thumb">
            <div class="mobile"><img src="assets/images/elements/inner-hero-mobile.png" alt="image"></div>
            <div class="chart"><img src="assets/images/elements/inner-hero-chart.png" alt="image"></div>
            <div class="bar-1"><img src="assets/images/elements/inner-hero-bar-1.png" alt="image"></div>
            <div class="bar-2"><img src="assets/images/elements/inner-hero-bar-2.png" alt="image"></div>
            <div class="bar-3"><img src="assets/images/elements/inner-hero-bar-3.png" alt="image"></div>
            <div class="coin"><img src="assets/images/elements/inner-hero-coin.png" alt="image"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-hero-section end -->

  <!-- privacy-section start -->
  <section class="privacy-section pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 order-lg-2 order-2">
          <div class="privacy-content">
            <h3 class="title"><a href="#0" class="data">Overview</a></h3>
            <p>Nullam turpis dolorem, vivamus placerat in donec est, nonummy tristique massa a, dui felis in. Nulla lorem aenean montes varius massula sed, ut at ante, quis velit, at amet amet placerat. Vestibulum in porttitsum eros vel in, imperdiet amet aliquam et purus dictum. In nunc nulla orci. A massa curabitur, etiam iure ulum, blandit ullamcorper, justo at aenean pulvinar. Felis aliquam hac duis et feugiat eu. Duis feugiat volutpat bibendum, eget a nisl est eros, nibh metus placerat faucibus penatibus, natoque diam.</p>
            <h3 class="title mt-30" id="collection">Consent and Information Collection and Use</h3>
            <p>Rictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis pagna debitis, placerat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasummodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amet peiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. Porttitor praesent facilisis aliquet.</p>
            <ul class="cmn-list">
              <li>Aras mi ac facilisis nec turpis maecenas, curabitur penatibus bibendum nibh nec, lorem integer donec a, risus quis ullamcorper, ante sapien wisi integer. Neque accumsan vestibulumaugue .</li>
              <li>Aras mi ac facilisis nec turpis maecenas, curabitur penatibus bibendum nibh nec, lorem integer donec a, risus quis ullamcorper, ante sapien wisi integer. Neque accumsan vestibulumaugue .</li>
            </ul>
            <p>Eictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dicongue pbus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas tpurgna debitis, plarat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commoaugue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor ametperdiet fgiat. Enim lacus eu duisest. </p>
            <h3 class="title mt-30" id="cookies">Cookies and Log Files</h3>
            <p>Dictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dicongen pebus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas tpmagna debitis plarat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodoostie dolor amet imperdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna.</p>
            <ul class="cmn-list">
              <li>Aras mi ac facilisis nec turpis maecenas, curabitur penatibus bibendum nibh nec, lorem integer donec a, risus quis ullamcorper, ante sapien wisi integer. Neque accumsan vestibulum. Vestibulum venenatis sem sit. Mauris eu curabitur eros, turpis elit alias in morbi, ac natoque quis, porttitor amet ut, eu eu aenean aliquam augue vel. Sed placat in scelerisque, purus metus est, scelerisque quis purusi</li>
              <li>Cras mi ac facilisis nec turpis maecenas, curabitur penatibus bibendum nibh nec, lorem integer donec a, risus quis ullamcorper, ante sapien wisi integer. Neque accumiulum. Vestibulum venenatis sem sit. Mauris eu curabitur eros, turpis elit alias in morbi, ac natoque quis, porttitor amet ut, eu eu aenean aliquam augue vel. Sed placerat in scesque, purus metus est, scelerisque quis purusi</li>
              <li>Qras mi ac facilisis nec turpis maecenas, curabitur penatibus bibendum nibh nec, lorem integer donec a, risus quis ullamcorper, ante sapien wisi integer. Neque accumsan vestibulum. Vestibulum venenatis sem sit. Mauris eu curabitur eros, turpis elit alias in morbi, ac natoque quis, porttitor amet ut, eu eu aenean aliquam augue vel. Sed placerat in scelerisque, purus metus est, scelerisque quis purus i</li>
            </ul>
            <h3 class="title mt-30" id="use">Information Form Customer</h3>
            <p>Aictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendisjusget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purusebiti placerat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.modo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amemrdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. </p>
            <h3 class="title mt-30" id="security">Data Security and Retention</h3>
            <p>Aictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendisjusget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purusebiti placerat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.modo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amemrdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. </p>
          </div>
        </div>
        <div class="col-lg-3 order-lg-2 order-1">
          <div class="sidebar">
            <div class="widget">
              <h4 class="widget-title">Privacy & Policy</h4>
              <ul class="privacy-list">
                <li><a href="#data">Overview</a></li>
                <li><a href="#collection">Data Collection & Use</a></li>
                <li><a href="#cookies">Cookies Data</a></li>
                <li><a href="#use">Data Collection & Use</a></li>
                <li><a href="#security">Data Security</a></li>
              </ul>
            </div><!-- widget end -->
            <div class="widget call-widget text-center">
              <h4 class="caption">Call us Today</h4>
              <a href="tel:41654654">+264 81 2444 250</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- privacy-section end -->
<app-footer></app-footer>