
    <!-- footer-section start -->
    <footer class="footer-section bg_img" data-background="assets/images/elements/footer-shape.png">
        <div class="man-left">
          <img src="assets/images/elements/footer-left-man.png" alt="image">
          <div class="coin"><img src="assets/images/elements/coin.png" alt="image"></div>
        </div>
        <div class="dot-left"><img src="assets/images/elements/footer-left-dot.png" alt="image"></div>
        <div class="man-right"><img src="assets/images/elements/footer-right-man.png" alt=""></div>
        <div class="footer-top">
          <div class="container">
            <div class="row mb-none-30">
              <div class="col-lg-3 col-sm-6 order-lg-1 order-sm-1">
                <div class="footer-widget about-widget mb-30">
                  <a href="#0" class="footer-logo"><img src="assets/images/logo.png" alt="image"></a>
                  <p>Massain eu dictum in, facilisi mauriorci tincidunt. Mauris suspendisse, faucibus id tellus pellentesque vestibulupendisse mauris, tempus nibh ac.</p>
                  <ul class="social-media-links">
                    <li><a href="#0"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#0"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#0"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#0"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-sm-4 order-lg-2 order-sm-3">
                <div class="footer-widget mb-30">
                  <h3 class="footer-widget-title">Company</h3>
                  <ul class="short-links">
                    <li><a href="#0">Faq</a></li>
                    <li><a href="#0">News</a></li>
                    <li><a href="#0">Support Center</a></li>
                    <li><a href="#0">Tream & Condition</a></li>
                    <li><a href="#0">Location</a></li>
                    <li><a href="#0">Privacy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-sm-4 order-lg-3 order-sm-4">
                <div class="footer-widget mb-30">
                  <h3 class="footer-widget-title">Useful Link</h3>
                  <ul class="short-links">
                    <li><a href="#0">Payment Method</a></li>
                    <li><a href="#0">Pricing Plan</a></li>
                    <li><a href="#0">Faq</a></li>
                    <li><a href="#0">Testimonial</a></li>
                    <li><a href="#0">Investment</a></li>
                    <li><a href="#0">Investor</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-sm-4 order-lg-4 order-sm-5">
                <div class="footer-widget mb-30">
                  <h3 class="footer-widget-title">Investment</h3>
                  <ul class="short-links">
                    <li><a href="#0">Starter Plan</a></li>
                    <li><a href="#0">Medium Plan</a></li>
                    <li><a href="#0">Special Plan </a></li>
                    <li><a href="#0">Vip Plan</a></li>
                    <li><a href="#0">Silver Plan</a></li>
                    <li><a href="#0">Gold Plan</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 order-lg-5 order-sm-2">
                <div class="footer-widget mb-30">
                  <h3 class="footer-widget-title">Contact Information</h3>
                  <ul class="company-info-list">
                    <li>Windhoek | Namibia </li>
                    <li>Call +264 81 800 3073</li>
                    <li>support@ngs.com</li>
                    <li>www.ngs.com.na</li>
                    <li>www.ngs.com.na</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>Copyright Namibia Global Solution © 2020. All rights reserved</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer-section end -->
    